/* Navbar */
.custom-navbar {
  width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #0e0e0e;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #0b5ed7;
}

/* Right menu */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Links */
.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  position: relative;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #0d6efd;
}

/* Underline effect */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #0d6efd;
  left: 0;
  bottom: -6px;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/* Badge panier */
.badge {
  background: #121212;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 12px;
  margin-left: 5px;
}


.logout-link {
  background: #0b0b0b;
  color: white;
  padding: 7px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.2s, transform 0.2s;
}

.logout-link:hover {
  background: #030303;
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .custom-navbar {
    flex-direction: column;
    height: auto;
    padding: 15px;
    gap: 10px;
  }

  .navbar-right {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
}